page-home {
 
        ion-content {
            background: rgb(238, 95, 95) !important;
        }
        h2 {
            color: rgb(10, 1, 1);
        }

        h3 {
            color: rgb(10, 1, 1);
        }
     
        p {
            color: rgb(75, 12, 12);
        }
     
    }

